/*=============================================
=            TABLE OF CONTENTS               =
=============================================*/
/**
 *
 * FOUNDATION...........................
 * BASE................................
 * COMPONENTS..........................
 * PAGES...............................
 *
 */
/*=============================================
=            Foundations                     =
=============================================*/
/*=============================================
=            VARIABLES                        =
=============================================*/
/**
 * TABLE OF CONTENTS
 * 
 * COLORS
 * Brand colors.......................These are the main brand colors. They will be used the most.
 * Neutral colors ....................White and black, gray.
 * Utility colors..................... Other colors to represent states: info, warning, success.
 *
 * TYPOGRAPHY
 * Font Families.....................The fonts used in the design system.
 * Font Weights..................... Font weights.
 * Font Sizes............................ Font sizing for body text, paragraph, inputs
 * 
 * BREAKPOINTS
 * Breakpoints ......................Global responsive breakpoints definitions.
 * 
 * SHADOW
 * Shadow ...........................global fixed set of shadow variables
 * 
 */
/*=============================================
=            COLORS                           =
=============================================*/
/* Brand colors */
/* Neutral colors */
/* Utilify colors */
/*Others color*/
/*=====  End of colors  ======*/
/*=============================================
=            TYPOGRAPHY                      =
=============================================*/
/* Font Family */
/* Font Weight */
/* Font Sizes */
/*=====  End of typography  ======*/
/*=============================================
=            BREAKPOINTS                      =
=============================================*/
/*=============================================
=            Base                             =
=============================================*/
/* Reset code */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

* {
  margin: 0;
}

body {
  background-color: #F3F5F6;
}

button {
  cursor: pointer;
}

/*=============================================
=            Components                       =
=============================================*/
.banner-container {
  max-width: 1540px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
  padding: 3px;
}

.banner-container__card-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.banner-container__banner-slider {
  background-color: #A05DFF;
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 115px;
  max-height: 540px;
  border-radius: 3%;
  flex-grow: 1;
}

.banner-card {
  background-color: #FF7D54;
  padding: 70px;
  max-width: 312px;
  max-height: 260px;
  border-radius: 6%;
}

.banner-slider__btn {
  padding: 20px 70px;
  margin-top: 80px;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.hot-trending-porducts {
  max-width: 1540px;
  margin: 0 auto;
}

.hot-trending-porducts__title-container {
  border-bottom: 2px solid #16BCDC;
  max-width: 270px;
  padding-bottom: 10px;
}
.hot-trending-porducts__title-container h2 {
  text-align: left;
}

.hot-trending-porducts__card-container {
  border-top: 1px solid #CFD3D2;
  padding: 20px 3px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

.product-card {
  max-width: 230px;
  max-height: 410px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 1rem;
}
.product-card__title {
  color: #3B83EE;
}
.product-card__img {
  max-width: 120px;
}
.product-card__price {
  text-align: left;
  margin-top: 10px;
}

.product-card__star-icon-container {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.product-card__btn {
  padding: 10px 50px;
  border-radius: 2rem;
  background-color: #16BCDC;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.star-icon-gold {
  color: #FFD700;
}

.star-icon-gray {
  color: #808080;
}

.star-icon-container_value {
  color: #808080;
}

.flash-deals {
  max-width: 1540px;
  margin: 0 auto;
}

.flash-deals__title-container {
  border-bottom: 2px solid #16BCDC;
  max-width: 270px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.flash-deals__title-container h2 {
  text-align: left;
}

.flash-deals__hero-card-container {
  border-top: 1px solid #CFD3D2;
  padding: 20px 3px;
  display: flex;
  gap: 20px;
}

.hero-card {
  max-width: 760px;
  display: flex;
  background-color: #ffffff;
  border-radius: 1rem;
}
.hero-card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.hero-card img {
  max-width: 215px;
}

.hero-card__content {
  max-width: 380px;
  padding: 50px 15px;
}
.hero-card__content__title {
  text-align: left;
  color: #3B83EE;
}
.hero-card__content p {
  text-align: left;
  margin: 50px auto;
  color: #808080;
}

.hero-card__star-icon-container {
  display: flex;
  justify-content: start;
}

.hero-card__btn {
  width: 100%;
  padding: 10px;
  background-color: #16BCDC;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  margin-top: 20px;
}

.flash-deals__card-container {
  display: flex;
  gap: 20px;
  margin: 50px auto;
}

.flash-deals-card {
  background-color: #38AD75;
  width: 500px;
  height: 200px;
  border-radius: 1rem;
  padding: 50px;
}

.top-feature {
  max-width: 1540px;
  margin: 0 auto;
}

.top-feature__title-container {
  border-bottom: 2px solid #16BCDC;
  max-width: 270px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.top-feature__title-container h2 {
  text-align: left;
}

.top-feature__container {
  border-top: 1px solid #CFD3D2;
  padding: 20px 3px;
  display: flex;
  gap: 20px;
}

.top-feature__card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.top-feature-card {
  padding: 10px;
}
.top-feature-card img {
  max-width: 115px;
}

.best-selling-products {
  margin: 50px auto;
}

.best-selling-products__logo-container {
  height: 77px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  margin-top: 70px;
}
.best-selling-products__logo-container img {
  max-width: 100px;
}

.navbar-section {
  background-color: #263C97;
}

.navbar-container {
  max-width: 1540px;
  margin: 0 auto;
  color: #ffffff;
}

.navbar-container__top-section {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container__top-section__content {
  display: flex;
  gap: 20px;
}
.navbar-container__top-section__content select {
  background-color: #263C97;
  color: #ffffff;
  border: none;
  outline: none;
}

.navbar-container__top-section__menu-items ul {
  display: flex;
  gap: 40px;
}
.navbar-container__top-section__menu-items ul li {
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  text-decoration: none;
  color: #ffffff;
}

.navbar-container__middle-section {
  display: flex;
  align-items: center;
  border-top: 1px solid #ffffff;
  gap: 20px;
  height: 140px;
}
.navbar-container__middle-section h2 {
  flex-grow: 1;
  text-align: left;
}

.middle-section__search-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  flex-grow: 1;
}
.middle-section__search-section-container select {
  border: none;
  outline: none;
  background-color: #E9E9ED;
  height: 100%;
  width: 50%;
  padding-left: 10px;
}
.middle-section__search-section-container input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.middle-section__search-section-logo {
  background-color: #16BCDC;
  padding: 10px;
  font-size: 3rem;
  margin: 5px;
}

.navbar-container__middle-section__icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.middle-section__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.middle-section__icon {
  font-size: 3rem;
}

.middle-section__icon-content {
  text-align: left;
}
.middle-section__icon-content span {
  color: #A3AFEF;
}
.middle-section__icon-content a {
  text-decoration: none;
  color: #A3AFEF;
}

.navbar-container__bottom-section {
  display: flex;
  align-items: center;
  border-top: 1px solid #ffffff;
  gap: 60px;
  height: 70px;
}

.bottom-section__category-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-section__category-logo {
  font-size: 2rem;
  color: red;
}

.bottom-section__menu-items {
  flex-grow: 1;
}
.bottom-section__menu-items ul {
  display: flex;
  gap: 20px;
}
.bottom-section__menu-items li a {
  text-decoration: none;
  color: #ffffff;
}

.footer {
  background-color: #1F2024;
  color: #ffffff;
}

.footer-container {
  max-width: 1540px;
  margin: 0 auto;
}

.footer-container__top-section {
  display: flex;
  gap: 90px;
  height: 160px;
  border-bottom: 1px solid #ffffff;
}

.footer-container__top-section__content {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-section__content__icon {
  color: #16BCDC;
  font-size: xx-large;
}

.top-section__content__content {
  text-align: left;
}
.top-section__content__content span {
  color: #808080;
}

.footer-container__middle-section {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ffffff;
}

.footer-container__middle-section__content {
  text-align: left;
}
.footer-container__middle-section__content h2 {
  margin-bottom: 30px;
}
.footer-container__middle-section__content p {
  color: #808080;
  line-height: 2rem;
}

.middle-section__content__app-section {
  display: flex;
  gap: 20px;
  margin: 30px auto;
}
.middle-section__content__app-section .app-section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2C2D31;
  padding: 10px;
  border-radius: 5%;
}

.app-section__content__icon {
  font-size: 3rem;
  color: #ffffff;
}

.middle-section__content__social-icon-container {
  font-size: 4rem;
}

.social-icon-container__facebook {
  color: #3C5B9B;
  margin-right: 10px;
}

.social-icon-container__twitter {
  color: #40C1DF;
  margin-right: 10px;
}

.social-icon-container__linkedin {
  color: #0A66C2;
  margin-right: 10px;
}

.social-icon-container__google {
  color: #ED3C32;
  margin-right: 10px;
}

.footer-container__middle-section__email-section {
  max-width: 410px;
}

.middle-section__email-section {
  margin: 20px auto;
}
.middle-section__email-section input {
  height: 50px;
  padding-left: 15px;
  border: none;
  outline: none;
}
.middle-section__email-section button {
  height: 50px;
  border: none;
  background-color: #16BCDC;
  color: #ffffff;
}

.footer-container__bottom-section {
  padding-bottom: 40px;
}
.footer-container__bottom-section p {
  margin-top: 40px;
  font-size: x-large;
}

.footer-container__bottom-section__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer-container__bottom-section__logo-container img {
  max-width: 60px;
}

.footer-container__bottom-section__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
  width: 100px;
}

/*=============================================
=            Pages                            =
=============================================*/
.home-page__add {
  width: 100%;
  height: 60px;
  background-color: #263C97;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.home-page__add p {
  color: #ffffff;
  font-size: 1.5rem;
}

.login-form-container {
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container__content__top-section {
  margin-top: 60px;
}
.login-form-container__content__top-section p {
  color: #808080;
}

.login-form-container__content__bottom-section {
  width: 625px;
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px;
}
.login-form-container__content__bottom-section label {
  display: block;
  text-align: left;
  margin-top: 30px;
  color: black;
}
.login-form-container__content__bottom-section input {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e4e6e7;
  outline: none;
}
.login-form-container__content__bottom-section button {
  background-color: #16BCDC;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  margin: 30px auto;
}

.bottom-section__forgot-pass {
  text-align: right;
  margin-top: 30px;
  color: #808080;
}

.bottom-section__create-account {
  text-align: left;
  color: #808080;
}
.bottom-section__create-account a {
  text-decoration: none;
  color: #16BCDC;
}

.starlabel {
  margin-left: 2px;
  color: red;
}

.register-form-container {
  max-width: 1540px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container__content__top-section {
  margin-top: 60px;
}

.register-form-container__content__bottom-section {
  width: 625px;
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px;
}
.register-form-container__content__bottom-section label {
  display: block;
  text-align: left;
  margin-top: 30px;
  color: black;
}
.register-form-container__content__bottom-section input {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #e4e6e7;
  outline: none;
}
.register-form-container__content__bottom-section button {
  background-color: #16BCDC;
  color: #ffffff;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  margin: 30px auto;
}

.bottom-section__name-section-container {
  display: flex;
  gap: 5px;
}

.bottom-section__password-section-container {
  display: flex;
  gap: 5px;
}

.bottom-section__login-account {
  text-align: left;
  color: #808080;
}
.bottom-section__login-account a {
  text-decoration: none;
  color: #16BCDC;
}

.shop-page {
  max-width: 1540px;
  margin: 0 auto;
}

.shop-container {
  display: flex;
  gap: 30px;
  margin: 40px auto;
}

.shop-container__left-section {
  max-width: 360px;
}

.shop-container__left-section__category-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 40px auto;
}

.left-section__container-title {
  width: 200px;
  border-bottom: 2px solid #16BCDC;
  padding-bottom: 10px;
  text-align: left;
}

.category-container__content-section {
  border-top: 1px solid #808080;
  padding-top: 30px;
}

.category-container__content {
  text-align: left;
}
.category-container__content span {
  margin-left: 5px;
}

.shop-container__left-section__color-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 40px auto;
}

.color-container {
  border-top: 1px solid #808080;
  padding-top: 30px;
  display: flex;
  gap: 20px;
}
.color-container__red {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF0000;
}
.color-container__yellow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFF00;
}
.color-container__brown {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #800080;
}
.color-container__black {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000000;
}
.color-container__pink {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFC0CB;
}
.color-container__orange {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD700;
}
.color-container__blue {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0000FF;
}
.color-container__sky {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00FFFF;
}

.shop-container__left-section__price-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 40px auto;
}

.price-container {
  border-top: 1px solid #808080;
  padding-top: 30px;
  display: flex;
  gap: 20px;
}
.price-container input {
  width: 100px;
}
.price-container p {
  text-decoration: underline;
}

.shop-container__left-section__compare-product-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 40px auto;
}
.shop-container__left-section__compare-product-container p {
  border-top: 1px solid #808080;
  padding-top: 30px;
  text-align: left;
  color: #808080;
}

.shop-container__left-section__wishlist-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 40px auto;
}

.wishlist-container__content {
  border-top: 1px solid #808080;
}
.wishlist-container__content a {
  text-align: left;
}

.wish-list-card-container img {
  max-width: 115px;
}

.wishlist-card-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-container__right-section {
  width: 1150px;
}

.shop-container__right-section__banner {
  margin-bottom: 30px;
}
.shop-container__right-section__banner img {
  width: 100%;
}

.shop-container__right-section__products-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: #ffffff;
}

.shop-product-card {
  max-width: 100%;
  height: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0%;
  border: 1px solid #808080;
}
.shop-product-card button {
  width: 100%;
}

.right-section__product-btn {
  border-radius: 2rem;
  border: 1px solid #808080;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #808080;
}

.wish-list-page {
  max-width: 1540px;
  margin: 0 auto;
}
.wish-list-page h2 {
  margin: 40px auto;
}
.wish-list-page table,
.wish-list-page th,
.wish-list-page td {
  border: 1px solid #E0E4E9;
  border-collapse: collapse;
}
.wish-list-page table {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.wish-list-page th {
  padding: 30px;
}

.table-data {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 40px;
  gap: 20px;
}
.table-data img {
  width: 90px;
}
.table-data p {
  color: #3B83EE;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart-container button {
  background-color: #ffffff;
  border: none;
  outline: none;
}/*# sourceMappingURL=global.css.map */