/*=============================================
=            TABLE OF CONTENTS               =
=============================================*/
/**
 *
 * FOUNDATION...........................
 * BASE................................
 * COMPONENTS..........................
 * PAGES...............................
 *
 */
/*=============================================
=            Foundations                     =
=============================================*/
/*=============================================
=            VARIABLES                        =
=============================================*/
/**
 * TABLE OF CONTENTS
 * 
 * COLORS
 * Brand colors.......................These are the main brand colors. They will be used the most.
 * Neutral colors ....................White and black, gray.
 * Utility colors..................... Other colors to represent states: info, warning, success.
 *
 * TYPOGRAPHY
 * Font Families.....................The fonts used in the design system.
 * Font Weights..................... Font weights.
 * Font Sizes............................ Font sizing for body text, paragraph, inputs
 * 
 * BREAKPOINTS
 * Breakpoints ......................Global responsive breakpoints definitions.
 * 
 * SHADOW
 * Shadow ...........................global fixed set of shadow variables
 * 
 */
/*=============================================
=            COLORS                           =
=============================================*/
/* Brand colors */
/* Neutral colors */
/* Utilify colors */
/*Others color*/
/*=====  End of colors  ======*/
/*=============================================
=            TYPOGRAPHY                      =
=============================================*/
/* Font Family */
/* Font Weight */
/* Font Sizes */
/*=====  End of typography  ======*/
/*=============================================
=            BREAKPOINTS                      =
=============================================*/
/*=============================================
=            Base                             =
=============================================*/
/* Reset code */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}

* {
  margin: 0;
}

/*=============================================
=            Components                       =
=============================================*/
.banner-container {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
  padding: 3px;
}

.banner-container__card-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.banner-container__banner-slider {
  background-color: #A05DFF;
  padding-top: 115px;
  padding-bottom: 115px;
  padding-left: 115px;
  max-height: 540px;
  border-radius: 3%;
  flex-grow: 1;
}

.banner-card {
  background-color: #FF7D54;
  padding: 70px;
  max-width: 312px;
  max-height: 260px;
  border-radius: 6%;
}

.banner-slider__btn {
  padding: 20px 70px;
  margin-top: 80px;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
}

/*=============================================
=            Pages                            =
=============================================*/
.home-page {
  max-width: 1540px;
  margin: 0 auto;
}/*# sourceMappingURL=global.css.map */