.home-page__add {
    width: 100%;
    height: 60px;
    background-color: #263C97;
    @include get-item-center;
    margin: 50px auto;

    p {
        color: $white;
        font-size: $fs-large;

    }

}